
<div id="widget0" class="widget_container col order-1 col-6 col-md-4 col-lg-3" data-widget-type="button"><div class="container card bg-secondary mb-3 mt-3">
	<div class="row">
		<div class="col text-center card-header text-light">
			<span id="widget0" class="widget_label">widget0</span>
		</div>
	</div>

	<div class="row justify-content-center mb-3 mt-3">
		<div class="col-12">
			
<canvas width="100px" height="90px"></canvas>
<div id="widget0" data-widget-command="note_on" data-widget-event="mousedown" data-colspan="col-6 col-md-4 col-lg-3" class="widget big-button button-blue" data-disabled="false"></div>

		</div>
	</div>
	<div class="row justify-content-center card-footer">
		<div id="widget0" class="btn-group btn-group-sm edit_widget_bar col-auto" role="group" style="">
			<button id="widget0" data-edit-class="widget_data" class="btn btn-light" onclick="edit_widget(this, 'open')"><span class="oi oi-musical-note" title="musical-note" aria-hidden="true"></span></button>
			<button id="widget0" data-edit-class="widget_customise" class="btn btn-dark" onclick="edit_widget(this, 'open')"><span class="oi oi-pencil"></span></button>
			<button id="widget0" class="remove_widget btn btn-danger" onclick="remove_widget(this)"><span class="oi oi-trash"></span></button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<div id="widget0" class="edit_widget_forms">
				<form action="javascript:void(0);" id="widget0" data-edit-class="widget_data" class="widget_data_form" onsubmit="edit_widget(this, 'close')" style="display: none;">
					
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Note</span>
		</div>
		<input class="widget_data form-control" type="number" name="note" required="" min="0" max="127" placeholder="Note" value="64">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Velocity</span>
		</div>
		<input class="widget_data form-control" type="number" min="0" max="127" required="" name="velocity" placeholder="Velocity" value="56">
	</div>


					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Channel</span>
						</div>
						<input class="widget_data form-control" type="number" min="0" max="15" required="" name="channel" placeholder="Channel" value="0">
					</div>
					<input type="submit" class="btn btn-light" value="Save">	
				</form>	

				<form action="javascript:void(0);" id="widget0" data-edit-class="widget_customise" onsubmit="edit_widget(this, 'close')" class="widget_customise_form" style="display: none;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Label</span>
						</div>
						<input class="widget_customise form-control" id="widget0" value="widget0" type="text" name="widget_label" placeholder="Widget Label" onchange="change_widget_label(this)">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Re Order</span>
						</div>
						<div class="input-group-append">
							<buttton class="btn btn-dark" id="widget0" onclick="reorder_widget(this, -1)"><span class="oi oi-arrow-thick-left"></span></buttton>
							<buttton class="btn btn-dark" id="widget0" onclick="reorder_widget(this, 1)"><span class="oi oi-arrow-thick-right"></span></buttton>
						</div>
					</div>
					

					<input type="submit" class="btn btn-light" value="Close">
				</form>
			</div>
		</div>
	</div>
</div></div><div id="widget1" class="widget_container col order-2 col-6 col-md-4 col-lg-3" data-widget-type="button"><div class="container card bg-secondary mb-3 mt-3">
	<div class="row">
		<div class="col text-center card-header text-light">
			<span id="widget1" class="widget_label">widget1</span>
		</div>
	</div>

	<div class="row justify-content-center mb-3 mt-3">
		<div class="col-12">
			
<canvas width="100px" height="90px"></canvas>
<div id="widget1" data-widget-command="note_on" data-widget-event="mousedown" data-colspan="col-6 col-md-4 col-lg-3" class="widget big-button button-blue" data-disabled="false"></div>

		</div>
	</div>
	<div class="row justify-content-center card-footer">
		<div id="widget1" class="btn-group btn-group-sm edit_widget_bar col-auto" role="group">
			<button id="widget1" data-edit-class="widget_data" class="btn btn-light" onclick="edit_widget(this, 'open')"><span class="oi oi-musical-note" title="musical-note" aria-hidden="true"></span></button>
			<button id="widget1" data-edit-class="widget_customise" class="btn btn-dark" onclick="edit_widget(this, 'open')"><span class="oi oi-pencil"></span></button>
			<button id="widget1" class="remove_widget btn btn-danger" onclick="remove_widget(this)"><span class="oi oi-trash"></span></button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<div id="widget1" class="edit_widget_forms">
				<form action="javascript:void(0);" id="widget1" data-edit-class="widget_data" class="widget_data_form" onsubmit="edit_widget(this, 'close')" style="display: none;">
					
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Note</span>
		</div>
		<input class="widget_data form-control" type="number" name="note" required="" min="0" max="127" placeholder="Note" value="60">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Velocity</span>
		</div>
		<input class="widget_data form-control" type="number" min="0" max="127" required="" name="velocity" placeholder="Velocity" value="60">
	</div>


					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Channel</span>
						</div>
						<input class="widget_data form-control" type="number" min="0" max="15" required="" name="channel" placeholder="Channel" value="0">
					</div>
					<input type="submit" class="btn btn-light" value="Save">	
				</form>	

				<form action="javascript:void(0);" id="widget1" data-edit-class="widget_customise" onsubmit="edit_widget(this, 'close')" class="widget_customise_form" style="display: none;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Label</span>
						</div>
						<input class="widget_customise form-control" id="widget1" value="widget1" type="text" name="widget_label" placeholder="Widget Label" onchange="change_widget_label(this)">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Re Order</span>
						</div>
						<div class="input-group-append">
							<buttton class="btn btn-dark" id="widget1" onclick="reorder_widget(this, -1)"><span class="oi oi-arrow-thick-left"></span></buttton>
							<buttton class="btn btn-dark" id="widget1" onclick="reorder_widget(this, 1)"><span class="oi oi-arrow-thick-right"></span></buttton>
						</div>
					</div>
					

					<input type="submit" class="btn btn-light" value="Close">
				</form>
			</div>
		</div>
	</div>
</div></div><div id="widget2" class="widget_container col order-3 col-6 col-md-4 col-lg-3" data-widget-type="button"><div class="container card bg-secondary mb-3 mt-3">
	<div class="row">
		<div class="col text-center card-header text-light">
			<span id="widget2" class="widget_label">widget2</span>
		</div>
	</div>

	<div class="row justify-content-center mb-3 mt-3">
		<div class="col-12">
			
<canvas width="100px" height="90px"></canvas>
<div id="widget2" data-widget-command="note_on" data-widget-event="mousedown" data-colspan="col-6 col-md-4 col-lg-3" class="widget big-button button-blue" data-disabled="false"></div>

		</div>
	</div>
	<div class="row justify-content-center card-footer">
		<div id="widget2" class="btn-group btn-group-sm edit_widget_bar col-auto" role="group">
			<button id="widget2" data-edit-class="widget_data" class="btn btn-light" onclick="edit_widget(this, 'open')"><span class="oi oi-musical-note" title="musical-note" aria-hidden="true"></span></button>
			<button id="widget2" data-edit-class="widget_customise" class="btn btn-dark" onclick="edit_widget(this, 'open')"><span class="oi oi-pencil"></span></button>
			<button id="widget2" class="remove_widget btn btn-danger" onclick="remove_widget(this)"><span class="oi oi-trash"></span></button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<div id="widget2" class="edit_widget_forms">
				<form action="javascript:void(0);" id="widget2" data-edit-class="widget_data" class="widget_data_form" onsubmit="edit_widget(this, 'close')" style="display: none;">
					
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Note</span>
		</div>
		<input class="widget_data form-control" type="number" name="note" required="" min="0" max="127" placeholder="Note" value="60">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Velocity</span>
		</div>
		<input class="widget_data form-control" type="number" min="0" max="127" required="" name="velocity" placeholder="Velocity" value="60">
	</div>


					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Channel</span>
						</div>
						<input class="widget_data form-control" type="number" min="0" max="15" required="" name="channel" placeholder="Channel" value="0">
					</div>
					<input type="submit" class="btn btn-light" value="Save">	
				</form>	

				<form action="javascript:void(0);" id="widget2" data-edit-class="widget_customise" onsubmit="edit_widget(this, 'close')" class="widget_customise_form" style="display: none;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Label</span>
						</div>
						<input class="widget_customise form-control" id="widget2" value="widget2" type="text" name="widget_label" placeholder="Widget Label" onchange="change_widget_label(this)">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Re Order</span>
						</div>
						<div class="input-group-append">
							<buttton class="btn btn-dark" id="widget2" onclick="reorder_widget(this, -1)"><span class="oi oi-arrow-thick-left"></span></buttton>
							<buttton class="btn btn-dark" id="widget2" onclick="reorder_widget(this, 1)"><span class="oi oi-arrow-thick-right"></span></buttton>
						</div>
					</div>
					

					<input type="submit" class="btn btn-light" value="Close">
				</form>
			</div>
		</div>
	</div>
</div></div><div id="widget5" class="widget_container col order-6 col-6 col-md-4 col-lg-3" data-widget-type="fader"><div class="container card bg-secondary mb-3 mt-3">
	<div class="row">
		<div class="col text-center card-header text-light">
			<span id="widget5" class="widget_label">widget5</span>
		</div>
	</div>

	<div class="row justify-content-center mb-3 mt-3">
		<div class="col-12">
			
<p class="text-light range_value_label">80</p>
<input type="range" min="0" ,="" max="127" step="1" id="widget5" list="tickmarks" data-colspan="col-6 col-md-4 col-lg-3" data-widget-command="control_change" data-widget-event="change" oninput="range_value_change(this)" class="widget fader text-light" data-disabled="false">
<datalist id="tickmarks">
  <option value="0"></option>
  <option value="10"></option>
  <option value="20"></option>
  <option value="30"></option>
  <option value="40"></option>
  <option value="50"></option>
  <option value="60"></option>
  <option value="70"></option>
  <option value="80"></option>
  <option value="90"></option>
  <option value="10"></option>
  <option value="100"></option>
  <option value="110"></option>
  <option value="120"></option>
  <option value="127"></option>
</datalist>

		</div>
	</div>
	<div class="row justify-content-center card-footer">
		<div id="widget5" class="btn-group btn-group-sm edit_widget_bar col-auto" role="group">
			<button id="widget5" data-edit-class="widget_data" class="btn btn-light" onclick="edit_widget(this, 'open')"><span class="oi oi-musical-note" title="musical-note" aria-hidden="true"></span></button>
			<button id="widget5" data-edit-class="widget_customise" class="btn btn-dark" onclick="edit_widget(this, 'open')"><span class="oi oi-pencil"></span></button>
			<button id="widget5" class="remove_widget btn btn-danger" onclick="remove_widget(this)"><span class="oi oi-trash"></span></button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<div id="widget5" class="edit_widget_forms">
				<form action="javascript:void(0);" id="widget5" data-edit-class="widget_data" class="widget_data_form" onsubmit="edit_widget(this, 'close')" style="display: none;">
					
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Control</span>
		</div>
		<input class="widget_data form-control" type="number" name="control" required="" min="0" max="127" placeholder="Control" value="60">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Value</span>
		</div>
		<input class="widget_data form-control" min="0" max="127" type="number" disabled="" required="" name="value" placeholder="Value" value="64">
	</div>	

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Channel</span>
						</div>
						<input class="widget_data form-control" type="number" min="0" max="15" required="" name="channel" placeholder="Channel" value="0">
					</div>
					<input type="submit" class="btn btn-light" value="Save">	
				</form>	

				<form action="javascript:void(0);" id="widget5" data-edit-class="widget_customise" onsubmit="edit_widget(this, 'close')" class="widget_customise_form" style="display: none;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Label</span>
						</div>
						<input class="widget_customise form-control" id="widget5" value="widget5" type="text" name="widget_label" placeholder="Widget Label" onchange="change_widget_label(this)">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Re Order</span>
						</div>
						<div class="input-group-append">
							<buttton class="btn btn-dark" id="widget5" onclick="reorder_widget(this, -1)"><span class="oi oi-arrow-thick-left"></span></buttton>
							<buttton class="btn btn-dark" id="widget5" onclick="reorder_widget(this, 1)"><span class="oi oi-arrow-thick-right"></span></buttton>
						</div>
					</div>
					

					<input type="submit" class="btn btn-light" value="Close">
				</form>
			</div>
		</div>
	</div>
</div></div><div id="widget6" class="widget_container col order-7 col-12 col-md-8 col-lg-4" data-widget-type="slider"><div class="container card bg-secondary mb-3 mt-3">
	<div class="row">
		<div class="col text-center card-header text-light">
			<span id="widget6" class="widget_label">widget6</span>
		</div>
	</div>

	<div class="row justify-content-center mb-3 mt-3">
		<div class="col-12">
			
<p class="text-light range_value_label">46</p>
<input list="tickmarks" type="range" min="0" ,="" max="127" id="widget6" data-widget-command="control_change" data-colspan="col-12 col-md-8 col-lg-4" data-widget-event="change" oninput="range_value_change(this)" class="widget form-control text-light" data-disabled="false">
<datalist id="tickmarks">
  <option value="0"></option>
  <option value="10"></option>
  <option value="20"></option>
  <option value="30"></option>
  <option value="40"></option>
  <option value="50"></option>
  <option value="60"></option>
  <option value="70"></option>
  <option value="80"></option>
  <option value="90"></option>
  <option value="10"></option>
  <option value="100"></option>
  <option value="110"></option>
  <option value="120"></option>
  <option value="127"></option>
</datalist>

		</div>
	</div>
	<div class="row justify-content-center card-footer">
		<div id="widget6" class="btn-group btn-group-sm edit_widget_bar col-auto" role="group">
			<button id="widget6" data-edit-class="widget_data" class="btn btn-light" onclick="edit_widget(this, 'open')"><span class="oi oi-musical-note" title="musical-note" aria-hidden="true"></span></button>
			<button id="widget6" data-edit-class="widget_customise" class="btn btn-dark" onclick="edit_widget(this, 'open')"><span class="oi oi-pencil"></span></button>
			<button id="widget6" class="remove_widget btn btn-danger" onclick="remove_widget(this)"><span class="oi oi-trash"></span></button>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-auto">
			<div id="widget6" class="edit_widget_forms">
				<form action="javascript:void(0);" id="widget6" data-edit-class="widget_data" class="widget_data_form" onsubmit="edit_widget(this, 'close')" style="display: none;">
					
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Control</span>
		</div>
		<input class="widget_data form-control" type="number" name="control" required="" min="0" max="127" placeholder="Control" value="60">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Value</span>
		</div>
		<input class="widget_data form-control" min="0" max="127" type="number" disabled="" required="" name="value" placeholder="Value" value="64">
	</div>	

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Channel</span>
						</div>
						<input class="widget_data form-control" type="number" min="0" max="15" required="" name="channel" placeholder="Channel" value="0">
					</div>
					<input type="submit" class="btn btn-light" value="Save">	
				</form>	

				<form action="javascript:void(0);" id="widget6" data-edit-class="widget_customise" onsubmit="edit_widget(this, 'close')" class="widget_customise_form" style="display: none;">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Label</span>
						</div>
						<input class="widget_customise form-control" id="widget6" value="widget6" type="text" name="widget_label" placeholder="Widget Label" onchange="change_widget_label(this)">
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<span class="input-group-text">Re Order</span>
						</div>
						<div class="input-group-append">
							<buttton class="btn btn-dark" id="widget6" onclick="reorder_widget(this, -1)"><span class="oi oi-arrow-thick-left"></span></buttton>
							<buttton class="btn btn-dark" id="widget6" onclick="reorder_widget(this, 1)"><span class="oi oi-arrow-thick-right"></span></buttton>
						</div>
					</div>
					
<div class="input-group mb-3">
	<div class="input-group-prepend">
		<span class="input-group-text">Length</span>
	</div>
	<div id="widget6" class="input-group-append size_buttons btn-group btn-group-sm btn-group-toggle" data-toggle="buttons">
			<lable class="btn btn-dark active">
				<input type="radio" name="slider_size" value="col-12 col-md-8 col-lg-4" checked="" onchange="change_slider_size(this)"> Auto
			</lable>
			<lable class="btn btn-dark active">
				<input type="radio" name="slider_size" value="col-6" onchange="change_slider_size(this)">Half Row
			</lable>
			<lable class="btn btn-dark active">
				<input type="radio" name="slider_size" value="col-12" onchange="change_slider_size(this)">Full Row
			</lable>	 
	</div>
</div>

					<input type="submit" class="btn btn-light" value="Close">
				</form>
			</div>
		</div>
	</div>
</div></div>