{%extends 'widget.html'%}

{%block widget_element%}
<p class="text-light range_value_label">64</p>
<input type='range' min="0", max="127" step="1" id="{{widget_id}}" list="tickmarks" data-colspan="col-6 col-md-4 col-lg-3" data-widget-command="control_change" data-widget-event="change" oninput="range_value_change(this)" class="widget fader text-light" />
<datalist id="tickmarks">
  <option value="0"></option>
  <option value="10"></option>
  <option value="20"></option>
  <option value="30"></option>
  <option value="40"></option>
  <option value="50"></option>
  <option value="60"></option>
  <option value="70"></option>
  <option value="80"></option>
  <option value="90"></option>
  <option value="10"></option>
  <option value="100"></option>
  <option value="110"></option>
  <option value="120"></option>
  <option value="127"></option>
</datalist>
{%endblock%}

{%block widget_data%}
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Control</span>
		</div>
		<input class="widget_data form-control" type="number" name="control" required min="0" max="127" placeholder="Control">
	</div>
	<div class="input-group mb-3">
		<div class="input-group-prepend">
			<span class="input-group-text">Value</span>
		</div>
		<input class="widget_data form-control" min="0" max="127" type="number" disabled required name="value" placeholder="Value">
	</div>	
{%endblock%}

{%block widget_customise%}
{%endblock%}